body {
  font-family: "Montserrat", sans-serif;
  background-color: #252525;
}
header {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
}
header .mainLogo {
  height: 2.5rem;
}
.mainLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu {
  color: #fff;
  margin-left: auto;
  font-size: 2.5rem;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.navBar {
  position: absolute;
  inset: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background-color: #34353a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeLogo,
.infoLogo,
.projectLogo,
.contactLogo {
  color: white;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.navBar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  gap: 1.5rem;
}
.navBar ul li a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
}
.hide {
  display: none;
}
#main {
  background-color: #222;
  display: grid;
}
.content {
  padding-top: 3rem;
}
.content h2 {
  line-height: 1.3em;
  margin-left: 20px;
  color: #690fad;
  font-size: 2.6rem;
}
.content p {
  position: relative;
  margin: 10px 20px 0 20px;
  line-height: 1.07em;
  font-weight: 400;
  color: white;
  font-size: 1.1rem;
}
.mainBtn {
  text-decoration: none;
  color: #252525;
  border-radius: 2rem;
  background-color: #690fad;
  display: inline-block;
  padding: 10px 20px;
  letter-spacing: 0.08rem;
  font-weight: 500;
  margin: 15px 0 20px 10px;
}
.mePic {
  object-fit: cover;
  display: flex;
  height: 300px;
  margin-left: auto;
}
#projects {
  background-color: #34353a;
  padding: 1rem 0;
}
.project_text h2 {
  color: #fff;
  font-size: 2em;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.project_text p {
  margin: 15px;
  text-align: center;
  color: #aaa;
  line-height: 1.1em;
}
#projects .services {
  display: grid;
  grid-gap: 20px;
  margin: 13px;
}
#projects .services .serviceBox {
  border: 2px solid white;
  background-color: #222;
  padding: 20px;
  cursor: pointer;
  display: grid;
  gap: 10px;
  width: 300px;
  margin-inline: auto;
}
#projects .services .serviceBox:hover {
  border: 2px solid #690fad;
  opacity: 1;
}
#projects .services .serviceBox:active {
  border: 3px solid #690fad;
}
#projects .services .serviceBox img {
  margin-inline: auto;
  max-width: 100px;
  transition: 0.5s;
}
#projects .services .serviceBox:hover img {
  opacity: 1;
}
#projects .services .serviceBox h3 {
  font-size: 1rem;
  text-align: center;
}
#projects .secBtn {
  text-decoration: none;
  color: #252525;
  border-radius: 2rem;
  background-color: #690fad;
  padding: 10px 20px;
  margin-inline: auto;
  display: block;
  width: fit-content;
  letter-spacing: 0.08rem;
  font-weight: 500;
}
#contentProject {
  display: grid;
  background-color: #222;
}
#contentProject .contentText h2 {
  color: #fff;
  text-align: center;
  font-size: 2em;
  padding: 1rem 0;
}
#contentProject .contentText p {
  margin: 15px;
  text-align: center;
  color: #aaa;
  line-height: 1.1em;
}
