body {
  font-family: "Montserrat", sans-serif;
  background-color: #252525;
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-inline: auto;
}
header .mainLogo {
  height: 2.5rem;
}
.mainLogo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.beforeNav {
  position: fixed;
  font-size: 2.5rem;
  right: 20px;
  color: white;
}
.afterNav {
  display: none;
  position: fixed;
  right: 20px;
  font-size: 2.5rem;
  color: white;
}
.hide {
  display: none;
}
header ul {
  display: flex;
  gap: 15px;
}
header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  font-weight: 400;
}
header ul li.hom a,
header ul li:hover a {
  color: #690fad;
}
